body {
    font-family: 'Arial', sans-serif;
    background-color: #87CEEB;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #00008B;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 3px;
}

button {
    background-color: #00008B;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0000CD;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #dee2e6;
}

th {
    background-color: #87CEEB;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #00008B;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
}

.home-image {
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: block;
    margin: 20px auto;
}
